* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: 400;
  font-size: 11px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  /* border-bottom: 1px solid white; */
  /* border-radius: 0px 0px 8px 8px; */
}

tooltip {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  color: white;
}

#workspaces button {
  padding: 2px 0px;
  color: white;
  margin: 2px 2px;
  border: 1px solid transparent;
  /* border-radius: 4px; */
}

#workspaces button.active {
  border-bottom: 1px solid rgba(235, 64, 52, 0.8);
  /* border-radius: 4px; */
}

#workspaces button.focused {
  border-color: red;
}

#workspaces button.urgent {
  color: white;
  border-radius: 4px;
}

#workspaces button:hover {
  color: white;
  font-weight: 400;
  font-size: 11px;
  background: rgba(255, 255, 255, 0.1); /* Slight hover highlight */
  /* border-radius: 4px; */
}

#custom-power_profile,
#idle_inhibitor,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#memory,
#custom-powermenu,
#backlight {
  opacity: 1;
  padding: 0px 5px;
}

#memory {
  color: white;
  margin-right: -4px;
}

#temperature {
  color: @text;
}

#temperature.critical {
  color: @love;
}

#window {
  color: @text;
}

window#waybar.empty #window {
  background-color: transparent;
}

#clock {
  color: @rose;
}

#network {
  color: @text;
}

#idle_inhibitor {
}

#pulseaudio {
  color: @sound;
}

#battery {
  color: white;
  margin-right: 3px;
}

#custom-whitesep {
  color: @text;
  margin-left: 4px;
  margin-right: -3px;
}
