* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: 500;
  font-size: 11px;
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
  padding: 0px;
}

#custom-sys-expand,
#custom-arrow-right,
#custom-arrow-left {
  color: #666666;
  margin-right: 6px;
  margin-left: 6px;
  transition: transform 0.5s ease;
}

#custom-sys-expand:hover,
#custom-arrow-right:hover,
#custom-arrow-left:hover {
  color: white;
}

.child-drawer {
  color: white;
}

#network {
  color: white;
  margin-right: 6px;
  padding: 0px;
}

#bluetooth {
  color: white;
  padding: 0px;
  margin-right: 1px;
  margin-left: 1px;
}

#pulseaudio {
  color: white;
  padding: 0px;
  margin-right: 6px;
}

#battery {
  color: white;
  margin-right: 8px;
}

#clock {
  color: white;
}

#workspaces {
  background: rgba(23, 23, 23, 0);
  color: #888789;
  box-shadow: none;
  text-shadow: none;
  transition: 0.2s ease;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button {
  background: rgba(23, 23, 23, 0);
  color: white;
  box-shadow: none;
  text-shadow: none;
  transition: 0.2s ease;
  padding: 0px;
}

#workspaces button.active {
  color: #a1bdce;
  transition: all 0.3s ease;
  border-radius: 0px;
  border-bottom: 1px solid #a1bdce;
}

#workspaces button:hover {
  border-radius: 0px;
}

#window {
  color: #a1bdce;
}

#memory,
#cpu,
#temperature {
  color: white;
  margin-right: 6px;
}

#custom-menu {
  color: white;
  margin-left: 8px;
}

#custom-menu:hover {
  color: #a1bdce;
}
